<header>
  <h1>Jordan Brown</h1>
</header>

<nav>
  <ul>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Experiments</a></li>
    <li><a href="#">Photography</a></li>
    <li><a href="#">Resume</a></li>
  </ul>
</nav>

<div id="content" class="text-content center">
  <p>My name is Jordan Brown and I'm a software engineer currently living in the beautiful city of San Francisco.</p>
</div>