<% content_for :h1 do %>
  Experiments
<% end %>

<div class="text-content">
  <ul>
    <li>
      <h5><a href="/experiments/clock">Clock</a></h5>
      <p>An analog clock | D3.js</p>
    </li>
    <li>
      <h5><a href="/experiments/circles">Circles</a></h5>
      <p>Colorful circles | D3.js</p>
    </li>
  </ul>
</div>
