$max-width: 1920px;
$min-width: 320px;

body {
  max-width: $max-width;
  min-width: $min-width;
  width: 100%;
}

.row {
  padding: 0 15px;
}

.center {
  text-align: center;
}

.text-content {
  margin: 0 auto;
  max-width: 800px;
}

.svg-content {
  max-width: 600px;
  margin: 0 auto;
}
